<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGeneratekeys获取自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换列名　　默认值为true
        select name as title(实体中的属性名是title) form table;
        开启后mybatis会自动帮我们把表中name的值赋到对应实体的title属性中
        -->
        <setting name="useColumnLabel" value="true"/>
          
        <!--开启驼峰命名转换Table:create_time到 pojo(createTime)-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--         Mybatis默认是没有开启二级缓存

1、在核心配置文件SqlMapConfig.xml中加入以下内容（开启二级缓存总开关）：
在settings标签中添加以下内容：
开启二级缓存总开关
<setting name="cacheEnabled" value="true"/>

2、在UserMapper映射文件中，加入以下内容，开启二级缓存： 

开启本mapper下的namespace的二级缓存，默认使用的是mybatis提供的PerpetualCache
<cache></cache>  -->
        
        
    </settings>

</configuration>
